
<hr>

<table  class="table table-hover border-primary">
  <tr style="color: blue; text-align: center; text-transform: uppercase; font-weight:bold;" >
    <td >id</td>
    <td >Title</td>
    <td >Price</td>
    <td >Quantity</td>
    <td >Action</td>

  </tr>
  <tr *ngFor="let product of products"  >

    <td style="text-align: center" >{{product.id }}</td>
    <td style="text-align: center">{{product.title }}</td>
    <td style="text-align: center" >{{product.price }}</td>
    <td style="text-align: center" >{{product.quality }}</td>

    <td style="text-align: center">
      <input type="submit" value="like"  >
      <input type="submit" value="buy">

    </td>

  </tr>
</table>
